
<html>
    <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    </head>
    <body>
      <div class="container">
        <div class="row align-items-center justify-content-center vh-100">
          <div class="col-md-5">
            <form [formGroup]="commentForm" (ngSubmit)="submitForm()">
                <div class="mb-3">
                  <label for="ID_TipoAvion">Tipo de avión</label>
                  <select class="form-select" name="ID_TipoAvion" formControlName="ID_TipoAvion">

              <option *ngFor="let TipoAvion of TipoAviones" value={{TipoAvion._id}}>{{TipoAvion.Marca}}&nbsp;{{TipoAvion.Modelo}}&nbsp;{{TipoAvion.Anno}}</option>

            </select>
                  </div>
                  <div class="row" style="margin-bottom: 15px;">
                    <div class="col">
                      <label for="ID_Horario">Horario</label>
                      <select class="form-select" name="ID_Horario" formControlName="ID_Horario"
                     >
        
                      <option *ngFor="let Horario of Horarios" value={{Horario._id}}>{{Horario.ID_Ruta.Ruta}}&nbsp;{{Horario.Dia}}&nbsp;{{Horario.HoraSalida}}</option>
        
                    </select>
                    </div>
                    <div class="col">
                      <label for="CodigoAvion"> Código de Avion</label>
                  <input formControlName="CodigoAvion" type="text" class="form-control" id="CodigoAvion" placeholder="Código Avion" >
                  </div>
                </div>
              <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Editar</button>
            </form>
            <p class="pt-3 text-center"><b>SRL Airlines - 2021</b>  Copyright &copy; Todos los derechos reservados</p>
          </div>
        </div>
      </div>
    </body>
  </html>



