
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/rf6ywHVkrlY')">
    <div class="text-center my-5">
        <h1 class="text-grey fs-3 fw-bolder">SRL Airlines</h1>
        <p class="text-grey-50 mb-0">Construyendo tu destino</p>
    </div>
  </header>
  <section class="py-5">
    <div class="container my-5" >
       
     </div>
   </section>
   <section class="py-5">
    <div class="container my-5" >
       
     </div>
   </section>
 
  <app-footer></app-footer>

  
  

