<div class="mt-5">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row" style="width: 50%; margin-left: 25%;">
                <div class="col-sm-6">
                    <h2> <b>Ruta</b></h2>
                </div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <a routerLink="/dashboard/registrar-ruta" class="btn btn-success btn-small" data-toggle="modal"><i
                            class="fas fa-plus-square mr-3 d-inline-block"></i>
                            <span class="d-inline-block">Nueva Ruta</span></a>

                </div>
            </div>
        </div>
        <table class="table table-striped table-hover mt-5" style="width: 50%; margin-left: 25%;">
            <thead>
                <tr>
                    <th class="w-20">Ruta</th>
                    <th class="w-20">Duración</th>
                    <th class="text-end">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Ruta of Rutas">
                    <td>{{Ruta.Ruta}}</td>
                    <td>{{Ruta.Duracion}}</td>
                    <td class="text-end">
                        <a [routerLink]="['/dashboard/editar-ruta',Ruta._id]" class="edit btn btn-small btn-primary rounded me-2"
                            data-toggle="modal"><i class="far fa-edit">Editar</i></a>
                            <a (click)="delete(Ruta._id)" class="delete btn  btn-small btn-danger rounded"
                            data-toggle="modal" *ngIf="Ruta.Estado==1"><i class="far fa-trash-alt">Desactivar</i></a>
                            
                            <a (click)="delete(Ruta._id)" class="delete btn  btn-small btn-warning rounded"
                            data-toggle="modal" *ngIf="Ruta.Estado==0"><i class="far fa-trash-alt">Activar</i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>