<router-outlet></router-outlet>
 <!-- Header - set the background image for the header in the line below-->
 <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/rf6ywHVkrlY')">
  <div class="text-center my-5">
      <h1 class="text-grey fs-3 fw-bolder">SRL Airlines</h1>
      <p class="text-grey-50 mb-0">Construyendo tu destino</p>
  </div>
</header>


<!-- Content section-->
<section class="py-5">
 <div class="container my-5" >
      <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="wrapper">
              <form class="login-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
              novalidate>
                
                      <div class="d-flex align-items-center my-sm-0 my-2"> <a class="text-decoration-none" style="font-size: 20px;margin-left: 35%;">Reserva tu vuelo <span class="fas fa-angle-right ps-2 text-primary"></span> </a> </div>
               
                  <div class="form-group d-sm-flex margin">
                      <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 border-bottom position-relative">
                         <input type="text" placeholder="Origen" class="form-control"  name="Origen"
                         [(ngModel)]="form.Origen" #Origen="ngModel">
                  
                      </div>
                      <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative"> 
                        <input type="text" placeholder="Destino" class="form-control" name="Destino"
                        [(ngModel)]="form.Destino" #Destino="ngModel">
                         
                      </div>
                  </div>
                  <div class="form-group d-sm-flex margin">
                      <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
                         <input type="date"  placeholder="Fecha ida" class="form-control" name="FechaIda"
                         [(ngModel)]="form.FechaIda" #FechaIda="ngModel">
                         
                      </div>
                      <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative"> 
                        <input type="date"  placeholder="Fecha regreso" class="form-control" name="FechaRegreso"
                        [(ngModel)]="form.FechaRegreso" #FechaRegreso="ngModel">
                          
                      </div>
                  </div>
              
                  
                    <button type="submit" class="btn btn-dark btn-lg btn-block mt-3" style="width: 50%;font-size: 20px;margin-left: 25%;">Buscar vuelos</button>
               
            </form>
        </div>
          </div>
      </div>
  </div>
  <table class="table table-striped table-hover mt-5" style="width: 85%; margin-left: 8%;">
    <thead>
        <tr>
            <th class="w-20">Origen</th>
            <th class="w-20">Destino</th>
            <th class="w-20">Fecha ida</th>
            <th class="w-20">Fecha regreso</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Vuelo of Vuelos">
            <td>{{Vuelo.Origen}}</td>
            <td>{{Vuelo.Destino}}</td>
            <td>{{Vuelo.FechaIda}}</td>
            <td>{{Vuelo.FechaRegreso}}</td>
        </tr>
    </tbody>
</table>
</section>

<section class="py-5" style="background-color:rgb(238, 236, 236);margin:0;padding: 0;">
  <h3 class="text-grey fs-3 fw-bolder" style="margin-left: 35%;margin-bottom: 1%;">Aprovecha nuestros descuentos</h3>
 
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width: 60%;margin-left: 20%;margin-right: 15%;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="margin-bottom: 10px;">Octubre</h5>
          <p style="margin-bottom: 50px;">Durante el mes de octubre viaja con un 15% de descuento a México.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" >
          <h5 style="margin-bottom: 10px;">Noviembre</h5>
          <p style="margin-bottom: 50px;">Durante el mes de noviembre viaja con un 10% de descuento a España.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="margin-bottom: 10px;">Diciembre</h5>
          <p style="margin-bottom: 50px;">Durante el mes de diciembre viaja con un 12% de descuento a Estados Unidos.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</section>
<!-- Content section-->
<section class="py-5">
  <div class="row gx-lg-5">
    <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                <h2 class="fs-4 fw-bold">Check-in online</h2>
                <p class="mb-0">Podrás hacer la selección de asientos en el vuelo y estará disponible 24 horas antes de su partida.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                <h2 class="fs-4 fw-bold">Restricciones de vuelo</h2>
                <p class="mb-0"> Planea tu viaje con los cambios anunciados por los gobiernos, cada destino es distinto.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                <h2 class="fs-4 fw-bold">Aviso</h2>
                <p class="mb-0">Si presentas resultado positivo para COVID-19 o síntomas como fiebre, tos seca persistente, dolor de garganta, entre otros, no podrás viajar.</p>
            </div>
        </div>
    </div>
</div>
</section>
<app-footer></app-footer>



