
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/rf6ywHVkrlY')">
    <div class="text-center my-5">
        <h1 class="text-grey fs-3 fw-bolder">SRL Airlines</h1>
        <p class="text-grey-50 mb-0">Construyendo tu destino</p>
    </div>
  </header>
  
  
  <!-- Content section-->
  <section class="py-5">
    <div class="row gx-lg-5">
      <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
              <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                  <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                  <h2 class="fs-4 fw-bold">Check-in online</h2>
                  <p class="mb-0">Podrás hacer la selección de asientos en el vuelo y estará disponible 24 horas antes de su partida.</p>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
              <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                  <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                  <h2 class="fs-4 fw-bold">Restricciones de vuelo</h2>
                  <p class="mb-0"> Planea tu viaje con los cambios anunciados por los gobiernos, cada destino es distinto.</p>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
              <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                  <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                  <h2 class="fs-4 fw-bold">Aviso</h2>
                  <p class="mb-0">Si presentas resultado positivo para COVID-19 o síntomas como fiebre, tos seca persistente, dolor de garganta, entre otros, no podrás viajar.</p>
              </div>
          </div>
      </div>
  </div>
  </section>
  <app-footer></app-footer>

  
  
