  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">SRL Airlines Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuario</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/registrar-usuario">Registrar</a></li>
                    <li><a class="dropdown-item" href="/consultar-usuario">Consultar</a></li>
                    <li><a class="dropdown-item" href="/editar-usuario">Editar</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Avión</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/registrar-avion">Registrar</a></li>
                      <li><a class="dropdown-item" href="/consultar-avion">Consultar</a></li>
                      <li><a class="dropdown-item" href="/editar-avion">Editar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Tipo avión</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/registrar-tipo-avion">Registrar</a></li>
                      <li><a class="dropdown-item" href="/consultar-avion">Consultar</a></li>
                      <li><a class="dropdown-item" href="/editar-tipo-avion">Editar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Horario</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/registrar-horario">Registrar</a></li>
                      <li><a class="dropdown-item" href="/consultar-horario">Consultar</a></li>
                      <li><a class="dropdown-item" href="/editar-horario">Editar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ruta</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/registrar-ruta">Registrar</a></li>
                      <li><a class="dropdown-item" href="/consultar-ruta">Consultar</a></li>
                      <li><a class="dropdown-item" href="/editar-ruta">Editar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Vuelos</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/registrar-vuelos">Registrar</a></li>
                      <li><a class="dropdown-item" href="/consultar-vuelos">Consultar</a></li>
                      <li><a class="dropdown-item" href="/editar-vuelos">Editar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reservaciones</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/registrar-reservaciones">Registrar</a></li>
                      <li><a class="dropdown-item" href="/consultar-reservaciones">Consultar</a></li>
                      <li><a class="dropdown-item" href="/editar-reservaciones">Editar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Factura</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/registrar-factura">Registrar</a></li>
                      <li><a class="dropdown-item" href="/consultar-factura">Consultar</a></li>
                      <li><a class="dropdown-item" href="/editar-factura">Editar</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">NOMBRE</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Perfil</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


