<div class="mt-5">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2> <b>Horario</b></h2>
                </div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <a routerLink="/dashboard/registrar-horario" class="btn btn-success btn-small" data-toggle="modal"><i
                            class="fas fa-plus-square mr-3 d-inline-block"></i>&nbsp;&nbsp; <span
                            class="d-inline-block">Nuevo
                           </span></a>

                </div>
            </div>
        </div>
        <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                    <th class="w-20">Identifiación ruta</th>
                    <th class="w-20">Día</th>
                    <th class="w-20">Hora salida</th>
                    <th class="w-20">Hora llegada</th>
                    <th class="w-20">Precio</th>
                    <th class="text-end">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Horario of Horarios">
                    <td>{{Horario.ID_Ruta}}</td>
                    <td>{{Horario.Dia}}</td>
                    <td>{{Horario.HoraSalida}}</td>
                    <td>{{Horario.HoraLlegada}}</td>
                    <td>{{Horario.Precio}}</td>
                    <td class="text-end">
                        <a routerLink="/dashboard/editar-horario/{{Horario._id}}" class="edit btn btn-small btn-primary rounded me-2"
                            data-toggle="modal"><i class="far fa-edit">Editar</i></a>
                        <a (click)="delete(Horario._id)" class="delete btn  btn-small btn-danger rounded"
                            data-toggle="modal"><i class="far fa-trash-alt">Eliminar</i></a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
