<div class="mt-5">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row"  style="width:75%; margin-left: 13%;">
                <div class="col-sm-6">
                    <h2> <b>Mis Facturas</b></h2>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover mt-5" style="width: 100%; margin-left: 0%;">
            <thead>
                <tr>
                    <th class="w-20">Número de Reservación</th>
                    <th class="w-20">Número de Factura</th>
                    <th class="w-20">Detalle</th>
                    <th class="w-20">Total Colones</th>
                    <th class="w-20">Total Dólares</th>
                    <th class="w-20">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Factura of Facturas">
                    <td>{{Factura.ID_Reservacion.numReservacion}}</td>
                    <td>{{Factura.NumeroFactura}}</td>
                    <td>{{Factura.Descripcion}}</td>
                    <td>₡{{Factura.TotalColones}}</td>
                    <td>${{Factura.TotalDolares}}</td>
                    <td>{{Factura.FechaReservacion}}</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>