<app-nav-a></app-nav-a>
<html>
    <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    </head>
    <body>
      <div class="container">
        <div class="row align-items-center justify-content-center vh-100">
          <div class="col-md-5">
            <form class="login-form" action="#">
                <div class="mb-3">
                  <label for="CodigoV">Código vuelo</label>
                    <input type="text" class="form-control" placeholder="Código vuelo"
                      required>
                  </div>
                  <div class="mb-3">
                    <label for="IdentificaciónU">Identificación del usuario</label>
                    <input type="text" class="form-control" placeholder="Identificación del usuario"
                      required>
                  </div>
                  <div class="mb-3">
                    <label for="NumeroR">Número de reservación</label>
                    <input type="text" class="form-control" placeholder="Número de reservación"
                      required>
                  </div>
                  <div class="mb-3">
                    <label for="CantidadA">Cantidad de asientos</label>
                    <input type="text" class="form-control" placeholder="Cantidad de asientos"
                      required>
                  </div>
              <button type="button" class="btn btn-success btn-lg btn-block mt-3">Editar</button>
            </form>
            <p class="pt-3 text-center"><b>SRL Airlines - 2021</b>  Copyright &copy; Todos los derechos reservados</p>
          </div>
        </div>
      </div>
    </body>
  </html>




