<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/rf6ywHVkrlY')">
    <div class="text-center my-5">
        <h1 class="text-grey fs-3 fw-bolder">SRL Airlines</h1>
        <p class="text-grey-50 mb-0">Construyendo tu destino</p>
    </div>
  </header>
  <!-- Content section-->
  <section class="py-5" style="background-color:rgb(238, 236, 236);margin:0;padding: 0;">
      <h5 style="margin-left: 19%;margin-bottom: 1%;text-align: justify;">No puede iniciar sesión, su usuario se encuentra desactivado, por favor contactar al administrador!</h5>
   </section>
   <section class="py-5">
    <div class="container my-5" >
       
     </div>
   </section>
  
      
  
  <!-- Content section-->
  
  <app-footer></app-footer>