<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row align-items-center justify-content-center vh-100">
      <div class="col-md-5">
        <form [formGroup]="commentForm" (ngSubmit)="submitForm()">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-group">
                <label for="Usuario">Usuario</label>
                <input formControlName="Usuario" type="text" class="form-control" id="Usuario" placeholder="Usuario" >
                
              </div>
            </div>
           <!----> <div class="col">
              <div class="form-group">
                  <label for="Contrasenna">Contraseña</label>
                <input formControlName="Contrasenna" type="password" class="form-control" id="Contrasenna" placeholder="Contraseña" >
               
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input formControlName="Nombre" type="text" class="form-control" id="Nombre" placeholder="Nombre" >
               
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="Apellidos">Apellidos</label>
                <input formControlName="Apellidos" type="text" class="form-control" id="Apellidos" placeholder="Apellidos" >
               
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="Correo">Correo electrónico</label>
                <input formControlName="Correo" type="text" class="form-control" id="Correo" placeholder="Correo electrónico" >
             
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
                <label for="FechaNacimiento">Fecha de nacimiento</label>
                <input formControlName="FechaNacimiento" type="date" class="form-control" id="FechaNacimiento" placeholder="Fecha de nacimiento" >
              
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group"> 
              <label for="Descripcion">Dirección</label>
              <input formControlName="Descripcion" type="text" class="form-control" id="Descripcion" placeholder="Dirección" >
              
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-group">
                <label for="TelefonoTrabajo">Teléfono</label>
                <input formControlName="TelefonoTrabajo" type="text" class="form-control" id="TelefonoTrabajo" placeholder="Teléfono" >
             
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="Celular">Celular</label>
                <input formControlName="Celular" type="text" class="form-control" id="Celular" placeholder="Celular" >
               
              </div>
            </div>
          </div>
            <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Editar</button>
        </form>
        <p class="pt-3 text-center"><b>SRL Airlines - 2021</b> Copyright &copy; Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</body>

</html>
