<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

</head>

<body>
  <div class="container">
    <div class="row align-items-center justify-content-center vh-100">
      <div class="col-md-5">
        <form class="login-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
          novalidate>
          <div class="row" style="margin-bottom: 15px;">
            <div class="form-group">
              <label for="ExampleSelect1" class="form-label mt-4">Seleccione el tipo de Usuario</label>
              <select class="form-select" id="exampleSelect1" name="Rol" [(ngModel)]="form.Rol"
              #Rol="ngModel" required>
                <option id="Cliente" value="Cliente">Cliente</option>
                <option id="Administrador" value="Administrador">Administrador</option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-group">
                <label for="Usuario">Usuario</label>
                <input type="text" class="form-control" placeholder="Usuario" name="Usuario" [(ngModel)]="form.Usuario"
                  #Usuario="ngModel" required>
                <div class="alert-danger" *ngIf="Usuario.errors && f.submitted">
                  <div *ngIf="Usuario.errors.required">Usuario requerido</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="Contrasenna">Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña" name="Contrasenna"
                  [(ngModel)]="form.Contrasenna" #Contrasenna="ngModel" required>
              </div>
              <div class="alert-danger" *ngIf="Contrasenna.errors && f.submitted">
                <div *ngIf="Contrasenna.errors.required">Contraseña requerida</div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" name="Nombre" placeholder="Nombre" [(ngModel)]="form.Nombre"
                  #Nombre="ngModel" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="Apellidos">Apellidos</label>
                <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos"
                  [(ngModel)]="form.Apellidos" #Apellidos="ngModel" required>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="Correo">Correo electrónico</label>
              <input type="text" class="form-control" name="Correo" [(ngModel)]="form.Correo" #Correo="ngModel"
                placeholder="Correo electrónico" required>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="FechaNacimiento">Fecha de nacimiento</label>
              <input type="date" class="form-control" name="FechaNacimiento" [(ngModel)]="form.FechaNacimiento"
                #FechaNacimiento="ngModel" placeholder="Fecha de nacimiento" required>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="Descripcion">Dirección</label>
              <input type="text" class="form-control" name="Descripcion" [(ngModel)]="form.Descripcion" #Descripcion="ngModel"
                placeholder="Dirección" required>
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col">
              <div class="form-group">
                <label for="Telefono">Teléfono</label>
                <input type="text" class="form-control" name="Telefono" [(ngModel)]="form.Telefono" #Telefono="ngModel"
                  placeholder="Teléfono" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="Celular">Celular</label>
                <input type="text" class="form-control" name="Celular" [(ngModel)]="form.Celular" #Celular="ngModel"
                  placeholder="Celular" required>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Crear</button>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Error al registrarse!<br />{{ errorMessage }}
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          Registro exitoso, puede iniciar sesión!
        </div>
        <p class="pt-3 text-center"><b>SRL Airlines - 2021</b> Copyright &copy; Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</body>

</html>